*.py[cod]
*.swp
*~
*.egg-info
.idea/
docs/_build/
docs/doxygen/
.vs/

# Installed Python files
Doc/
DLLs/
EPICS_UTILS
LICENSE.txt
NEWS.txt
Scripts/
Tools/
include/
libs/
tcl/
share/
README.txt
python.*
python27.*
pythonw.*
VERSION.txt
BUILD_NUMBER.txt
ipython_config.py

# Installed Python 3 files
Logs/
etc/
man/
*.dll
*.pdb
*.exe
*._pth
qt.conf

# Ignore our own scripts
# don't use  genie_python*  as it also matches directory in site-packages
genie_python.bat
genie_python.ico
genie_python_simulate.bat
get_isis_ip.bat

# Test files
**/test-reports

# Ignore Lib except genie_python source
# Needs to be done this slightly convoluted way as you cannot
# unexclude a directory if the parent directory is excluded
Lib/*
!Lib/site-packages/
Lib/site-packages/*
!Lib/site-packages/genie_python/

*.zip
package_builder/get-pip.py

package_builder/python_deps/*
package_builder/smslib/build/*
package_builder/CaChannel-3.1.2.tar.gz
